{% extends 'base.html.twig' %}

{% block title %}
    {{  parent() }} - Application for {{ application.companyName }} - {{ application.PositionTitle }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h2 style="text-align: center; padding-top: 10%">Application for {{ application.companyName }} - {{ application.PositionTitle }}</h2>
        </div>
    </section>
    <section style="margin-left: 65%">
        <a href="{{ path('update_application', {id: application.id}) }}" class="btn btn-info">Update this Application</a>
        <a href="{{ path('delete_one_application', {id: application.id}) }}" class="btn btn-danger">Delete This application</a>
    </section>
    <section>
        <p style="text-align: center; font-size: 40px; margin-top: 20px">
            {{ application.notes }}
        </p>
        <br>
        <p style="text-align: center; font-size: 40px; margin-top: 20px">
            You have {{ application.interviews|length }} interview for this application
            <br>
            <a href="{{ path('create_interview', {id_application: application.id}) }}" class="btn btn-primary">Add an interview</a>
        </p>
        {% if application.interviews|length > 0 %}
            <div class="row">
                {% for interview in application.interviews %}
                    <div class="col-sm-6">
                        <div class="card" style="margin-bottom: 20px; margin-right: 10px; margin-left: 10px">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center">{{ interview.type }} the {{ interview.date|date }}</h5>
                                <p class="card-text" style="text-align: center">{{ interview.type }}</p>
                                <a href="{{ path('view_one_interview', {id: interview.id}) }}" class="btn btn-primary" style="margin: auto; display: block;">See More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}